---
layout: default
---

<header class="{{ page.header_class }}">
	{% include navigation/top.html %}
	{% include components/hero/main.html image="" heading="Успевайте в 2 раза больше" subtitle="Автоматизируйте свою работу с клиентами <br>с помощью нейросети в области  учета и подбора индивидуальных программ тренировок <br>и питания" button="Get started free" video="zQK9oaZeGzg" %}
</header>

{{ content }}

{% include components/cta/main.html text="Зарабатывайте хорошие деньги" button="Зарегистрироваться онлайн" %}
